---
import "../styles/global.css";
import { Layout } from "@/components/Layout";
// import { useStore } from "@nanostores/react";
import { Job } from "@/components/elements/Job";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <!-- <div class="grid h-48 w-full place-content-center"> -->
    <div class="h-auto">
      <!-- <div class="h-screen flex items-center justify-center m-4"> -->

      <!-- this one -->
      <Layout client:only="react" />

      <!-- <Job client:only="react" /> -->
    </div>
    <!-- </div> -->
  </body>
</html>
