---
import "../styles/global.css";
import { PlayerSelection } from "@/components/PlayerSelection";
const pettersson = {
  playerID: 8483678,
  firstName: "Elias",
  lastName: "Pettersson",
  birthDate: "2004-02-16",
  birthCity: "Vasteras",
  birthCountry: "SWE",
  hrID: "undefined",
  hdbID: "undefined",
  verified: false,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="flex flex-row min-h-screen justify-center items-center">
      <PlayerSelection client:load player={pettersson} site="hdb" />
    </div>
  </body>
</html>
