---
import "../styles/global.css";
import { PlayerDashboard } from "@/components/containers/table/PlayerDashboard";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <!-- <div class="grid h-48 w-full place-content-center"> -->
    <!-- <div class="h-screen flex items-center justify-center m-4"> -->
    <div class="container mx-auto py-10">
      <PlayerDashboard client:load />
    </div>
    <!-- </div> -->
  </body>
</html>
